// :::
.vp-meta-item.git-info {
  width: 100%;
  display: flex;
  color: #8b9eb0;
  font-weight: 500;
  justify-content: space-between;
}

// ::: details
.hint-container.details {
  h4 {
    padding: 0;
    padding-top: 1rem;
  }

  &[open] > summary {
    padding-bottom: 0;

    &::after,
    &::before {
      top: 50%;
    }
  }

  > :last-child {
    margin-bottom: 0;
  }
}

// `codes`
div[class*="language-"].line-numbers-mode .line-number::before {
  margin-right: -15px;
}

.vp-page {
  min-height: calc(100vh - 2rem - var(--header-offset));
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0 !important;

  > * {
    padding: 0 !important;
    width: calc(100vw - var(--sidebar-width) - 2rem * 2);

    @media (max-width: 719px) {
      width: calc(100vw - 2rem * 2);
    }
  }

  > :last-child {
    margin-bottom: 2rem;
  }

  .vp-page-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1rem !important;

    @media (max-width: 935px) {
      grid-template-columns: unset;
    }
    @media (max-width: 719px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 615px) {
      grid-template-columns: unset;
    }

    .next {
      grid-column: 2/-1;
    }

    .route-link {
      padding: 0.5rem 1.5rem;
    }

    .link {
      padding: 10px 2px;
    }
  }
}

.vp-page-meta {
  cursor: default;

  &:not(:last-child) {
    padding-bottom: 1rem !important;
  }

  .vp-meta-item {
    flex-grow: unset;
  }

  .last-updated .meta-item-info,
  .contributors .meta-item-info {
    color: var(--vp-c-grey-text);
  }
}

[data-theme="dark"] {
  --vp-c-gutter: #5f5b5b;
}
